14_Python_Web_Services/xml_validation_scenario/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="lastname" type="xs:string"/>
                <xs:element name="age" type="xs:integer"/>
                <xs:element name="dateborn" type="xs:date"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>